{# templates/base.html.twig #}
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>{% block title %}Welcome!!!{% endblock %}</title>
    {{ encore_entry_link_tags('app') }}
    <link
            rel="stylesheet"
            href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    />
</head>
<body>
<div id="root"></div>
{{ encore_entry_script_tags('app') }}
</body>
</html>
